.main-heading{
    height:100%;
    background-color: rgb(227, 234, 240);
    margin:0 auto;
    width:40%;
    overflow-wrap:wrap;
}
.main-heading h1{
    margin:0px;
    text-align: center;
}
.data{
    display: flex;
    background-color:rgb(174, 201, 224);
    margin: 0 auto;
    width: 90%;
    border-radius: 9px;
    margin-bottom: 10px;
}

.data p{
    display: flex;
    justify-content:center;
    align-items: center;
  font-size: 15px;
  width:35px;
  margin-right: 12px;
  margin-left: 5px;
  background-color: white;
  margin-bottom:2px;
  position: relative;
    top: -10px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;

}
.ans-cont{
    display: flex;
    background-color:rgb(199, 178, 199);
    margin: 0 auto;
    width: 90%;
    border-radius: 9px;
    margin-bottom: 10px;
}
.ans-cont h1{
    display: flex;
    justify-content:center;
    align-items: center;
  font-size: 25px;
  width:35px;
  margin-right: 12px;
  margin-left: 5px;
  background-color: white;
  margin-bottom:2px;
  position: relative;
    top: -10px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    
}